/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

.notification:not(:last-child) {
  margin-bottom: 0;
}

.profile_image {
  border-radius: 50%;
}

.main-image {
  height: 500px;
  background-image: url(Photoelly043);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
  background-position: center center;
}

.login-select {
  margin: 0 auto;
}
.guest-login {
  margin: auto;
  margin-right: 20px;
  padding-top: 6px;
}
.twitter-login {
  margin: auto;
  margin-left: 20px;
  padding-top: 6px;
}
.fa-twitter {
  margin-right: 5px;
}

.pagination-list {
  justify-content: center;
  margin-bottom: 20px;
}

.footer_menu {
  display: none;
}

table {
  width: 100%;
}

@media screen and (max-width: 1240px) {
  .guest-login {
    font-size: 10px;
  }

  .twitter-login {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .close {
    display: none;
  }

  .footer_menu {
    display: block;
    text-align: center;
    position: fixed;
    z-index: 2;
    bottom: 0;
  }
  .app-columns {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .app-column {
    display: table-cell;
  }
}

@media screen and (max-width: 768px) {
  .guest-login {
    margin-bottom: 30px;
    width: 100%;
    font-size: 16px;
  }
  .twitter-login {
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .size {
    font-size: 10px;
  }
}
